.rating input[type="radio"] {
    display: none;
}
.rating label { float: right }
.rating label::before {
    content: "\f006";
    font: normal normal normal 20px/1px FontAwesome;
    vertical-align: middle;
    padding: 0 1px
}

.rating label.checked::before,
.rating label.checked~label::before {
    color: #ffd700;
    content: "\f005"
}

.rating label:hover,
.rating label:hover~label{
    color: #ffd700;
}

.review-form .form-control {
    height: 100%
}

.review-form .review-btn {
    background-color: #fff;
    border-color: #b59759;
    border-width: 3px;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s
}

.review-form .review-btn:hover {
    background-color: #b59759;
    color: #fff
}

.review-form #image-review {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    z-index: -1
}

.review-form .image-review-style {
    background-color: #b59759;
    color: #fff;
    cursor: pointer;
    padding: 3px 10px
}

.review-form .image-review-style .fa {
    margin-left: 5px
}

.review-gallery img {
	width: 100px;
	padding: 2px;
}

#reviews-list .fa-star { color: #b59759 }
#reviews-list a.lightgallery img { padding: 2px }
#reviews-list time { font-size: 75%; color: #b59759; padding-left: 5px }
#reviews-list li.row { margin-bottom: 5px; border-bottom: 1px solid #b59759; padding-bottom: 5px }

#comment_add_success.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
}