/* @import url(fonts/miriadpro/font.css); */
@import url(fonts/segoeui/font_s.css);

body {
	font-family: 'Segoe UI', Arial;
	background-color: #F2F2F2;
}

a {text-decoration: none;}


/*      Header        */
header {
	padding: 20px 0 40px 0;
}

header form {
	position: relative;
}
header form .fa-chevron-down {
	font-size: 20px;
	color: #d9d9d9;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
    left: 125px;
}
header form select {
	height: 40px;
	width: 146px;
	border-radius: 3px;
	border: 0;
	padding: 0 15px;
	font-size: 16px;
	color:#8c8c8c;
	outline: none;
	appearance: none;
	-webkit-appearance: none;
}

header form input {
	height: 40px;
    width: 248px;
    border-radius: 3px;
    border: 0;
    padding: 0 10px;
    margin-left: 5px;
    font-size: 16px;
    color: #888888;
}

header form button {
	position: absolute;
	top: 50%;
	outline: none;
    background: transparent;
	right: 10px;
	border: none;
}
header form button .fa-search {color:#d9d9d9; }

header form button i {
	font-size: 22px;
	color:#8c8c8c;
	top: 50%;

    transform: translateY(-50%); 
}

header .header__address {
	margin-left: -50px;
	font-size: 20px;
	color: #8c8c8c;
}

header .header__address address {font-style: normal;}
header .header__address .fa-map-marker-alt,
header .header__phone .fa-phone-alt {
	font-size: 30px;
    margin-right: 10px;
    color: #8c8c8c;
}

header .header__phone div {
	font-size: 20px;
	color: #8c8c8c;
}

header .header__shoping .header__cart {
	font-size: 25px;
	background-color: #fff;
	border-radius: 100%;
	color: #8c8c8c;
	display: flex;
    justify-content: center;
    align-items: center;
}
header .header__shoping .header__cart img { padding: 10px; }

header .header__shoping .header__user button {
	outline: none;
	font-size: 25px;
	background-color: #fff;
	border: none;
	border-radius: 100%;
	margin-left: 15px;
	color: #8c8c8c;
	display: flex;
    justify-content: center;
    align-items: center;
}
header .header__shoping .header__user button img { padding: 10px 12px;}

header .header__shoping .header__user { position: relative;} 

header .header__shoping .header__user .user__login {
	position: absolute;
	top: -7px;
	right: 55px;
	display: none;
}
header .header__shoping .header__user:hover > .user__login { display: block;}

header .header__shoping .header__user .user__login button.user__in {
	width: 137px;
	height: 29px;
	text-align: center;
	background: #7CBE49;
	font-size: 19px;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 3px;
}
header .header__shoping .header__user .user__login button.user__registration {
	width: 137px;
	height: 29px;
	text-align: center;
	background: #fff;
	font-size: 19px;
	font-weight: 400;
	cursor: pointer;
	color: #000;
	border-radius: 5px;
}

header .header__shoping { position: relative; }
header .header__shoping i.label {
	display: block;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
	left: -40px;
	font-weight: 700;
	color: #fff;
	font-size: 14px;
	line-height: 1.5;
	font-style: normal;
	text-align: center;
	height: 20px;
	width: 49px;
	border-radius: 0 50px 50px 0;
	background-color: #82C166;
}
header nav {
	margin-top: 30px;
}
header nav a {
	font-size: 18px;
	font-weight: 600;
	color: #8c8c8c;
	text-align: center;
}
header nav a:before {
	content: "";
	display: block;
	height: 4px;
	min-width: 230px;
	margin-bottom: 10px;
	background: #fff;
}
header nav a:hover::before,
header nav a:active::before  {
	background: #82C166;
}

                                                                       /*      Header       */

                                                                 /*      Main        */

main h1 {
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: 4px;
	text-align: center;
	color: #666666;
}

main .main__logo {
	margin: 40px auto 0;
}
main .logo__text {
	margin-top: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: #666666;
	text-transform: uppercase;
	letter-spacing: 2px;
}
main .main__logo a {
	position: relative;
	text-align: center;
}

main .main__logo a .fa-chevron-down {
	position: absolute;
	bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 23px;
    color: #d9d9d9;
}
main .main__logo a:hover .fa-chevron-down,
main .main__logo a:active .fa-chevron-down{
	color: #82C166;
}
/*        cars__detal         */
main section.cars__base {
	padding-top: 50px;
	height: 0;
}
main section.cars__base .base__detal {
	cursor: pointer;
	width: 214px;
}
main section.cars__base .base__detal img {
	display: block;
	margin: 0 auto;
}
main section.cars__base .base__detal .detal__text{
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	color: #666666;
	margin-bottom: 40px;
}
main section.cars__base .base__detal:hover .detal__text{
	color: #82C166;
}
/*           cars__detal            */
main
                                                              /*     Main_Carousel     */

main .slick__main{ 
	padding: 50px 0 14px 0; }
main .slick__main .draggable { border-radius: 5px;}

main #main__slick .slick-dots {
	position: absolute;
	bottom: -35px;
	left: 0;
	width: 100%;
	z-index: 10;
	text-align: center;
}
main #main__slick .slick-dots li {
	list-style: none;
	cursor: pointer;
	margin: 0 7px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #fff;
	display: inline-block;
}
main #main__slick .slick-dots li.slick-active { background: #7cbe49; }
main #main__slick .slick-dots li button { display: none; }

main #main__slick .slick-prev {
  background: url('icons/back-4.svg') center center / cover no-repeat;
  font-size: 0px;
  border: 0px;
  position: absolute;
  left: 17px;
  z-index: 10;
  top: 50%;
  outline: none;
  transform: translateY(-50%);
  width: 28px;
  height: 52px;
  cursor: pointer;
}
main #main__slick .slick-next {
background: url('icons/back-26.svg') center center / cover no-repeat;
  font-size: 0px;
  border: 0px;
  position: absolute;
  right: 17px;
  z-index: 10;
  cursor: pointer;
  top: 50%;
  outline: none;
  transform: translateY(-50%);
  width: 28px;
  height: 52px;
}


															   /*     Main_Carousel     */
															   
                                                                    /*      Sale     */

main section.sale {
	padding: 71px 0 0 0;
}
main section.sale a {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	color: #8c8c8c;
}

main section.sale .sale__nav a:before {
	content: "";
	display: block;
	height: 4px;
	min-width: 230px;
	margin-bottom: 10px;
	background: #fff;
}
main section.sale .sale__nav a:hover,
main section.sale .sale__nav a:active {
	color: #82C166;
}

main section.sale .sale__nav a:hover::before,
main section.sale .sale__nav a:active::before {
	background: #82C166;
}

                                                                     /*     Sale Card    */
section.sale .sale__wrrap {
	margin-top: 46px;
}
section.sale .sale__wrrap .sale__card {
	width: 290px;
	padding: 11px;
	min-height: 571px;
	margin-bottom: 120px;
}

section.sale .sale__wrrap .sale__card {
	border: 2px solid transparent;
	border-radius: 10px;
	position: relative;
}
section.sale .sale__wrrap .sale__card:hover {
    border-color: #fefefe;
}
section.sale .sale__wrrap .sale__card.no_availabilaty:hover {
    border-color: #ffc505;
}
section.sale .sale__wrrap .sale__card .card__img i.card__label {
	position: absolute;
	top: 26px;
	left: -16px;
	transform: translateY(50%);
	font-weight: 600;
	color: #fff;
	font-size: 16px;
	line-height: 1.5;
	font-style: normal;
	text-align: center;
	height: 25px;
	width: 60px;
	border-radius: 0 50px 50px 0;
	background-color: #7cbe49;
}
section.sale .sale__wrrap .sale__card .card__img i.new__label {
	position: absolute;
	top: 60px;
	left: -16px;
	transform: translateY(50%);
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1.5;
	font-style: normal;
	text-align: center;
	height: 25px;
	width: 60px;
	border-radius: 0 50px 50px 0;
	background-color: #ff5205;
}


section.sale .sale__wrrap .sale__card .card__img {
	width: 100%;
	height: 268px;
	background-color: #fff;
	border-radius: 5px;
}

.card__rating .rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.card__rating .rating:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:25px;
    color: #fff;
}
.card__rating .rating:not(:checked) > label:before {
    content: '★ ';
}
.card__rating .rating > input:checked ~ label {
    color: #ffc505;    
}
.card__rating .rating:not(:checked) > label:hover,
.card__rating .rating:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.card__rating .rating > input:checked + label:hover,
.card__rating .rating > input:checked + label:hover ~ label,
.card__rating .rating > input:checked ~ label:hover,
.card__rating .rating > input:checked ~ label:hover ~ label,
.card__rating .rating > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
section.sale .sale__wrrap .sale__card .rating__comment {
	flex-grow: 1;
	margin-left: 30px;
	display: flex;
    flex-grow: 1;
    margin-left: 30px;
    align-items: flex-end;
    margin-top: 5px;
}
section.sale .sale__wrrap .sale__card .rating__comment i.rating__lebel {
	font-size: 16px;
  font-weight: normal;
  letter-spacing: normal;
  color: #8c8c8c;
  margin-right: 11px;
  font-style: normal;
}

section.sale .sale__wrrap .sale__card .card__text {
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	font-size: 22px;
	font-weight: 600;
	text-align: left;
	color: #262626;
}
section.sale .sale__wrrap .sale__card .card__info {
	/* margin-top: 15px; */
	display: flex;
}
section.sale .sale__wrrap .sale__card .card__info .info__article p {
	font-size: 16px;
	padding-top: 5px;
	color: #a6a6a6;
}
section.sale .sale__wrrap .sale__card .card__info .info__name p {
	font-size: 16px;
	padding-top: 5px;
	color: #262626;
}
section.sale .sale__wrrap .sale__card .card__check {
	margin-top: 15px;
}
section.sale .sale__wrrap .sale__card .card__check .check__pieces .fa-check-circle {
	font-size: 20px;
  	color: #7cbe49;
}
section.sale .sale__wrrap .sale__card .card__check .check__pieces .fa-times-circle{
	font-size: 20px;
	color: #FFC505;
}
section.sale .sale__wrrap .sale__card .card__check .check__pieces p {
	font-size: 16px;
	  color: #262626;
	  margin-left: 6px;
}
section.sale .sale__wrrap .sale__card .check__number {
	width: 88px;
}
section.sale .sale__wrrap .sale__card .check__number span.minus {
	display: inline-block;
	width: 25px;
	height: 20px;
	text-align: center;
	color: #fff;
	border-radius:50px 0 0 50px;
	background-color: #d9d9d9;
	cursor: pointer;
}
section.sale .sale__wrrap .sale__card .check__number input {
	width: 33px;
	text-align: center;
	font-size: 16px;
	color: #666666;
	border: none;
}
section.sale .sale__wrrap .sale__card .check__number span.plus {
	display: inline-block;
	width: 25px;
	height: 20px;
	text-align: center;
	color: #fff;
	border-radius: 0 50px 50px 0;
	background-color: #d9d9d9;
	cursor: pointer;
}
/*        cart modal         */
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal {
	position: absolute;
    top: 0;
    left: -2px;
    border-radius: 10px;
    width: 290px;
	height: 511px;
	display: none;
	padding: 31px;
	background-color: #ffc505;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal h5 {
	font-size: 40px;
    font-weight: bold;
    line-height: 0.93;
    text-align: left;
    color: #2d3b40;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal p {
	font-size: 16px;
	font-weight: 600;
	text-align: left;
	color: #ffffff;
	margin-top: 15px;
} 
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .modal__name {
	font-size: 16px;
    font-weight: bold;
    text-align: left;
	color: #2d3b40;
	margin-top: 15px;
}

section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .modal__product {
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	color: #2d3b40;
	margin-top: 10px;
	margin-bottom: 20px;

}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .modal__phone a {
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	color: #2d3b40;
}

section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal span {
	display: block;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	color: #2d3b40;
	margin-top: 10px;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal button.modal__request {
	width: 228px;
	height: 40px;
	border-radius: 5px;
	background-color: #e0ad04;
	border: none;
	outline: none;
	margin-top: 10px;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
}

section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal button.cart__hiden {
	width: 34px;
	height: 34px;
	position: absolute;
    bottom: -17px;
	left: 50%;
    transform: translateX(-50%);
	background-color: #ffc505;
	border: none;
	outline: none;
	border-radius: 100%;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal button.cart__hiden .fa-chevron-circle-up {
	font-size: 25px;
    text-align: center;
    opacity: 0.4;
}

.cart__modal-show {
	display: block;
}
/*           cart form                */
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form {
	position: absolute;
	bottom: 15px;
	left: 0;
	border-radius: 5px;
	width: 290px;
	padding: 5px 31px 31px 31px;
	background-color: #ffc505;
	z-index: -1;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form .form__name{
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color: #2d3b40;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form .form__product {
	font-size: 16px;
  	font-weight: normal;
  	text-align: left;
  	color: #2d3b40;
  	margin-top: 30px;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form select {
	width: 228px;
	height: 30px;
	border: none;
  	border-radius: 5px;
	background-color: #ffffff;
	margin-top: 20px;
	padding-left: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #a6a6a6;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form input {
	width: 228px;
	height: 30px;
	border: none;
  	border-radius: 5px;
	background-color: #ffffff;
	margin-top: 15px;
	padding-left: 15px;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form input::placeholder {
	font-size: 14px;
	font-weight: 400;
	color: #a6a6a6;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form .form__btn {
	width: 228px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #2d3b40;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
	outline: none;
	margin-top: 30px;
}
/*           cart form                */
                                     /*        cart modal        */


section.sale .sale__wrrap .sale__card .card__price { margin-top: 18px;}
section.sale .sale__wrrap .sale__card .card__price .price__text {
	font-size: 45px;
	font-weight: 400;
	color: #262626;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .card__price .price__text {
	font-size: 18px;
    font-weight: 400;
    color: #262626;
}
section.sale .sale__wrrap .sale__card .card__price button.cart__buy {
	position: relative;
	width: 101px;
	height: 45px;
	border: none;
  	border-radius: 5px;
	background-color: #7cbe49;
	color: #fff;
	outline: none;
	text-align: center;
}
section.sale .sale__wrrap .sale__card .card__price button.cart__buy:after {
	content: "Додати до кошика";
	position: absolute;
	display: none;
	width: 100%;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    color: #a6a6a6;
}
section.sale .sale__wrrap .sale__card.no_availabilaty button.cart__order {
	position: relative;
	width: 101px;
	height: 45px;
	margin-top: 8px;
	border: none;
	outline: none;
  	border-radius: 5px;
	background-color: #FFC505;
	text-align: center;
}
section.sale .sale__wrrap .sale__card.no_availabilaty button.cart__order:after {
	content: "Звязатися з нами" ;
	position: absolute;
	display: none;
    width: 100%;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    color: #a6a6a6;
}
section.sale .sale__wrrap .sale__card .card__price button.cart__buy:hover:after,
section.sale .sale__wrrap .sale__card.no_availabilaty button.cart__order:hover:after {
	display: block;
}

                                                                        /*    Sale Card    */

                                            /*     Sale       */

				 /*    Footer     */
				 
footer {
	background: #e8e8e8;
}
footer .footer__info{
	padding: 48px 0;
}
footer .footer__info h5 {
	font-size: 22px;
	font-weight: bold;
	line-height: 0.91;
	text-align: left;
	color: #666666;
	margin-bottom: 20px;
}

footer .footer__info .footer__account a,
footer .footer__info .footer__information a,
footer .footer__info .footer__shop a {
	display: block;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.25;
	text-align: left;
	color: #666666;
	text-decoration: underline;
	cursor: pointer;
	padding-bottom: 10px;
}

footer .footer__info .footer__contacts .fa-map-marker-alt {
	font-size: 28px;
	color: #bfbfbf;
}
footer .footer__info .footer__contacts address {
	font-size: 16px;
	margin-left: 20px;
	font-style: normal;
  	font-weight: normal;
  	color: #666666;
}
footer .footer__info .footer__contacts .contacts__address { margin-bottom: 20px;}
footer .footer__info .footer__contacts .contacts__phone a {
	margin-left: 20px;
	font-size: 16px;
  	font-weight: normal;
  	color: #666666;
 }
footer .footer__info .footer__payments .payments__img img { padding: 0 4px;}

footer .footer__subtitle {
	min-height: 85px;
	background: #b3b3b3;
	padding: 30px 0;
}
footer .footer__subtitle .subtitle__text {
	font-size: 16px;
	font-weight: normal;
	color: #ffffff;
}
footer .footer__subtitle .subtitle__text span {
	margin-left: 20px;
}

footer .footer__subtitle .subtitle__link p {
	margin-left: 11px;
	font-size: 12px;
  	font-weight: normal;
  	color: #ffffff;
}
footer .footer__subtitle .subtitle__link p a {
	text-decoration: underline;
}
footer .footer__subtitle .subtitle__link img.genetka {
	margin-left: 30px;
}