/* @import url(fonts/miriadpro/font.css); */
@import url(fonts/segoeui/font_s.css);

body {
	font-family: 'Segoe UI', Arial;
	background-color: #F2F2F2;
}

a {text-decoration: none;}


/*      Header        */
header {
	padding: 20px 0 30px 0;
}
header .mob__menu { display: none;}
header div.flex .fa-bars { display: none;}
header .mobile__shoping { display: none;}
header img.header__logo { width: 250px;}
header form {position: relative;}
header form .fa-chevron-down {
	font-size: 19px;
	color: #d9d9d9;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
    left: 145px;
}
header form select {
	height: 40px;
	width: 170px;
	border-radius: 3px;
	border: 0;
	padding: 0 7px;
	font-size: 15px;
	color:#8c8c8c;
	background: #fff;
	outline: none;
	appearance: none;
	-webkit-appearance: none;
}
header form input {
	height: 40px;
    width: 210px;
    border-radius: 3px;
    border: 0;
    padding: 0 10px;
    margin-left: 5px;
    font-size: 15px;
    color: #888888;
}
header form button {
	position: absolute;
	top: 50%;
	outline: none;
    background: transparent;
	right: 10px;
	border: none;
}
header form button .fa-search {color:#d9d9d9; }
header form button i {
	font-size: 22px;
	color:#8c8c8c;
	top: 50%;

    transform: translateY(-50%); 
}
header .header__address {
	font-size: 15px;
	font-weight: 500;
	color: #8c8c8c;
}
header .header__address address {font-style: normal;}
header .header__address .fa-map-marker-alt,
header .header__phone .fa-phone-alt {
	font-size: 28px;
    margin-right: 10px;
    color: #8c8c8c;
}
header .header__phone{ margin-right: 20px;}
header .header__phone .header__login { display: none;}
header .header__phone div {
	font-size: 15px;
	font-weight: 500;
	color: #8c8c8c;
}
header .header__shoping a.header__cart {
	background-color: #fff;
	border-radius: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
header .header__shoping .header__cart img { padding: 10px; }
header .header__shoping .header__user button {
	outline: none;
	font-size: 25px;
	background-color: #fff;
	border: none;
	border-radius: 100%;
	margin-left: 15px;
	color: #8c8c8c;
	display: flex;
    justify-content: center;
	align-items: center;
	cursor: pointer;
}
header .header__shoping .header__user button img { padding: 10px 12px;}
header .header__shoping .header__user { position: relative;} 
header .header__shoping .header__user .user__login {
	position: absolute;
	top: -7px;
	right: 55px;
	display: none;
}
header .header__shoping .header__user:hover > .user__login { display: block;}
header .header__shoping .header__user .user__login button.user__in {
	width: 137px;
	height: 29px;
	text-align: center;
	background: #fff;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 3px;
}
header .header__shoping .header__user .user__login button.user__registration {
	width: 137px;
	height: 29px;
	text-align: center;
	background: #fff;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
	color: #000;
	border-radius: 5px;
}
header .header__shoping .header__user .user__login button.user__in:hover,
header .header__shoping .header__user .user__login button.user__registration:hover {
	background: #82C166;
	color: #fff;
}
header .header__shoping { position: relative; }
header .header__shoping i.label {
	display: block;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
	left: -29px;
	font-weight: 600;
	color: #fff;
	font-size: 14px;
	line-height: 1.4;
	font-style: normal;
	text-align: center;
	height: 20px;
	width: 40px;
	border-radius: 0 50px 50px 0;
	background-color: #82C166;
}
header nav {
	margin-top: 30px;
}
header nav a {
	font-size: 16px;
	font-weight: 600;
	color: #8c8c8c;
	text-align: center;
}
header nav a:before {
	content: "";
	display: block;
	height: 4px;
	    width: 180px;
	margin-bottom: 10px;
	background: #fff;
}
header nav a:hover::before,
header nav a:active::before  {
	background: #82C166;
}

/*                                      Header                                          */

 /*                                    Main                                         */

main h1 {
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
	font-style: normal;
	letter-spacing: 2px;
	text-align: center;
	color: #666666;
}
main .main__logo {margin: 35px auto 45px;}
main .logo__text {
	margin-top: 10px;
	text-align: center;
	font-size: 17px;
	font-weight: 600;
	color: #666666;
	text-transform: uppercase;
	letter-spacing: 2px;
	white-space: nowrap;
}
main .main__logo a {
	position: relative;
	text-align: center;
}
main .main__logo a img { height: 50px;}
main .main__logo a .fa-chevron-down {
	position: absolute;
	bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 23px;
    color: #d9d9d9;
}
main .main__logo a:hover .fa-chevron-down,
main .main__logo a:active .fa-chevron-down{
	color: #82C166;
}


/*                        cars__detal                           */


main section.cars__base {
	height: 0;
	overflow: hidden;
}
main section.cars__base .base__detal {
	cursor: pointer;
	width: 160px;
}
main section.cars__base .base__detal img {
	display: block;
	margin: 0 auto;
}
main section.cars__base .base__detal .detal__text{
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	color: #666666;
	margin-bottom: 40px;
}
main section.cars__base .base__detal:hover .detal__text{ color: #82C166; }



/*                         cars__detal                         */


 /*                        Main_Carousel                               */

main .slick__main .draggable { border-radius: 5px;}
main #main__slick .slick-dots {
	position: absolute;
	bottom: -35px;
	left: 0;
	width: 100%;
	z-index: 10;
	text-align: center;
}
main #main__slick .slick-dots li {
	list-style: none;
	cursor: pointer;
	margin: 0 7px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #fff;
	display: inline-block;
}
main #main__slick .slick-dots li.slick-active { background: #7cbe49; }
main #main__slick .slick-dots li button { display: none; }
main #main__slick .slick-prev {
  background: url('icons/left-arrow.png') center center / cover no-repeat;
  font-size: 0px;
  border: 0px;
  position: absolute;
  left: 17px;
  z-index: 10;
  top: 50%;
  outline: none;
  transform: translateY(-50%);
  width: 28px;
  height: 52px;
  cursor: pointer;
}
main #main__slick .slick-next {
background: url('icons/right-arrow.png') center center / cover no-repeat;
  font-size: 0px;
  border: 0px;
  position: absolute;
  right: 17px;
  z-index: 10;
  cursor: pointer;
  top: 50%;
  outline: none;
  transform: translateY(-50%);
  width: 28px;
  height: 52px;
}


/*                                        Main_Carousel                                         */


															   
/*                                       Sale                                              */

main section.sale {
	padding: 71px 0 0 0;
}
main section.sale a {
	font-size: 17px;
	font-weight: 600;
	text-align: center;
	color: #8c8c8c;
}
main section.sale .sale__nav a:before {
	content: "";
	display: block;
	height: 4px;
	min-width: 200px;
	margin-bottom: 10px;
	background: #fff;
}
main section.sale .sale__nav a:hover,
main section.sale .sale__nav a:active {
	color: #82C166;
}

main section.sale .sale__nav a:hover::before,
main section.sale .sale__nav a:active::before {
	background: #82C166;
}


/*                                                          Sale Card                                           */



section.sale .sale__wrrap {
	margin-top: 35px;
}
section.sale .sale__wrrap .sale__card {
	width: 20%;
	padding: 8px;
	min-height: 541px;
	margin-bottom: 80px;
}
section.sale .sale__wrrap .sale__card {
	border: 2px solid transparent;
	border-radius: 10px;
	position: relative;
}
section.sale .sale__wrrap .sale__card:hover {
    border-color: #fefefe;
}
section.sale .sale__wrrap .sale__card.no_availabilaty:hover {
    border-color: #ffc505;
}
section.sale .sale__wrrap .sale__card .card__img img {
	width: 100%;
}
section.sale .sale__wrrap .sale__card .card__img i.card__label {
	position: absolute;
	top: 26px;
	left: -16px;
	transform: translateY(50%);
	font-weight: 600;
	color: #fff;
	font-size: 14px;
	line-height: 1.4;
	font-style: normal;
	text-align: center;
	height: 20px;
	width: 45px;
	border-radius: 0 50px 50px 0;
	background-color: #7cbe49;
}
section.sale .sale__wrrap .sale__card .card__img i.new__label {
	position: absolute;
	top: 50px;
	left: -16px;
	transform: translateY(50%);
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 1.4;
	font-style: normal;
	text-align: center;
	height: 20px;
	width: 45px;
	border-radius: 0 50px 50px 0;
	background-color: #ff5205;
}
section.sale .sale__wrrap .sale__card .card__img {
	width: 100%;
	height: 240px;
	background-color: #fff;
	border-radius: 5px;
}
.card__rating .rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.card__rating .rating:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px;
    color: #fff;
}
.card__rating .rating:not(:checked) > label:before {
    content: '★ ';
}
.card__rating .rating > input:checked ~ label {
    color: #ffc505;    
}
.card__rating .rating:not(:checked) > label:hover,
.card__rating .rating:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.card__rating .rating > input:checked + label:hover,
.card__rating .rating > input:checked + label:hover ~ label,
.card__rating .rating > input:checked ~ label:hover,
.card__rating .rating > input:checked ~ label:hover ~ label,
.card__rating .rating > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
section.sale .sale__wrrap .sale__card .rating__comment {
	flex-grow: 1;
	margin-left: 30px;
	display: flex;
    flex-grow: 1;
    margin-left: 30px;
    align-items: flex-end;
    margin-top: 5px;
}
section.sale .sale__wrrap .sale__card .rating__comment i.rating__lebel {
	font-size: 16px;
  font-weight: normal;
  letter-spacing: normal;
  color: #8c8c8c;
  margin-right: 11px;
  font-style: normal;
}
section.sale .sale__wrrap .sale__card .card__text {
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	font-size: 18px;
	font-weight: 600;
	text-align: left;
	color: #262626;
}
section.sale .sale__wrrap .sale__card .card__info {
	/* margin-top: 15px; */
	display: flex;
}
section.sale .sale__wrrap .sale__card .card__info .info__article { margin-right: 5px;} 
section.sale .sale__wrrap .sale__card .card__info .info__article p {
	font-size: 15px;
	padding-top: 5px;
	color: #a6a6a6;
}
section.sale .sale__wrrap .sale__card .card__info .info__name p {
	font-size: 15px;
	padding-top: 5px;
	color: #262626;
}
section.sale .sale__wrrap .sale__card .card__check {
	margin-top: 15px;
}
section.sale .sale__wrrap .sale__card .card__check .check__pieces .fa-check-circle {
	font-size: 16px;
  	color: #7cbe49;
}
section.sale .sale__wrrap .sale__card .card__check .check__pieces .fa-times-circle{
	font-size: 16px;
	color: #FFC505;
}
section.sale .sale__wrrap .sale__card .card__check .check__pieces p {
	font-size: 14px;
	  color: #262626;
	  margin-left: 6px;
}
section.sale .sale__wrrap .sale__card .check__number {
	width: 60px;
}
section.sale .sale__wrrap .sale__card .check__number span.minus {
	display: inline-block;
	width: 25px;
	height: 20px;
	text-align: center;
	color: #fff;
	border-radius:50px 0 0 50px;
	background-color: #d9d9d9;
	cursor: pointer;
}
section.sale .sale__wrrap .sale__card .check__number input {
	width: 30px;
	text-align: center;
	font-size: 16px;
	color: #666666;
	border: none;
}
section.sale .sale__wrrap .sale__card .check__number span.plus {
	display: inline-block;
	width: 25px;
	height: 20px;
	text-align: center;
	color: #fff;
	border-radius: 0 50px 50px 0;
	background-color: #d9d9d9;
	cursor: pointer;
}


/*                                                 cart modal                                                   */

section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal {
	position: absolute;
    top: 0;
    left: -2px;
    border-radius: 10px;
    width: calc(100% + 4px);
	height: 465px;
	display: none;
	padding: 15px;
	background-color: #ffc505;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal h5 {
	font-size: 30px;
	margin-top: 5px;
    font-weight: bold;
    line-height: 0.93;
    text-align: left;
    color: #2d3b40;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal p {
	font-size: 15px;
	font-weight: 600;
	text-align: left;
	color: #ffffff;
	margin-top: 15px;
} 
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .modal__name {
	font-size: 16px;
    font-weight: bold;
    text-align: left;
	color: #2d3b40;
	margin-top: 15px;
}

section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .modal__product {
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	color: #2d3b40;
	margin-top: 10px;
	margin-bottom: 20px;

}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .modal__phone a {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color: #2d3b40;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal span {
	display: block;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	color: #2d3b40;
	margin-top: 8px;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal button.modal__request {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	background-color: #e0ad04;
	border: none;
	outline: none;
	margin-top: 10px;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal button.cart__hiden {
	width: 34px;
	height: 34px;
	position: absolute;
    bottom: -17px;
	left: 50%;
    transform: translateX(-50%);
	background-color: #ffc505;
	border: none;
	outline: none;
	border-radius: 100%;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal button.cart__hiden .fa-chevron-circle-up {
	font-size: 25px;
    text-align: center;
    opacity: 0.4;
}
.cart__modal-show {
	display: block;
}

/*                                                cart form                                           */


section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form {
	position: absolute;
	bottom: 15px;
	left: 0;
	border-radius: 5px;
	width: 100%;
	padding: 5px 21px 31px 21px;
	background-color: #ffc505;
	z-index: -1;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form .form__name{
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color: #2d3b40;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form .form__product {
	font-size: 16px;
  	font-weight: normal;
  	text-align: left;
  	color: #2d3b40;
  	margin-top: 15px;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form input {
	width: 100%;
	height: 30px;
	border: none;
  	border-radius: 5px;
	background-color: #ffffff;
	margin-top: 15px;
	padding-left: 15px;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form input::placeholder {
	font-size: 14px;
	font-weight: 400;
	color: #a6a6a6;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form .form__btn {
	width: 100%;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #2d3b40;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
	outline: none;
	margin-top: 30px;
}

/*                                           cart form                                            */


/*                                 cart modal                                               */


section.sale .sale__wrrap .sale__card .card__price { margin-top: 18px;}
section.sale .sale__wrrap .sale__card .card__price .price__text {
	font-size: 32px;
	font-weight: 400;
	color: #262626;
}
section.sale .sale__wrrap .sale__card.no_availabilaty .card__price .price__text {
	font-size: 18px;
    font-weight: 400;
    color: #262626;
}
section.sale .sale__wrrap .sale__card .card__price button.cart__buy {
	position: relative;
	width: 85px;
	height: 40px;
	border: none;
  	border-radius: 5px;
	background-color: #7cbe49;
	color: #fff;
	outline: none;
	text-align: center;
	cursor: pointer;
}
section.sale .sale__wrrap .sale__card .card__price button.cart__buy:after {
	content: "Додати до кошика";
	position: absolute;
	display: none;
	width: 100%;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    color: #a6a6a6;
}
section.sale .sale__wrrap .sale__card.no_availabilaty button.cart__order {
	position: relative;
	width: 85px;
	height: 40px;
	margin-top: 5px;
	border: none;
	outline: none;
  	border-radius: 5px;
	background-color: #FFC505;
	text-align: center;
	cursor: pointer;
}
section.sale .sale__wrrap .sale__card.no_availabilaty button.cart__order:after {
	content: "Звязатися з нами" ;
	position: absolute;
	display: none;
    width: 100%;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    font-weight: normal;
    text-align: center;
	color: #a6a6a6;
}
section.sale .sale__wrrap .sale__card .card__price button.cart__buy:hover:after,
section.sale .sale__wrrap .sale__card.no_availabilaty button.cart__order:hover:after {
	display: block;
}

 /*                                                                   Sale Card                              */

/*                                                         Sale                                    */

/*                                  Footer     */
				 
footer {
	background: #e8e8e8;
}
footer .footer__info{
	padding: 35px 0;
	padding-left: 40px;
}
footer .footer__info h5 {
	font-size: 18px;
	font-weight: bold;
	line-height: 0.91;
	text-align: left;
	color: #666666;
	margin-bottom: 20px;
}
footer .footer__info .footer__account a,
footer .footer__info .footer__information a,
footer .footer__info .footer__shop a {
	display: block;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.25;
	text-align: left;
	color: #666666;
	text-decoration: underline;
	cursor: pointer;
	padding-bottom: 10px;
}
footer .footer__info .footer__contacts .fa-map-marker-alt {
	font-size: 28px;
	color: #bfbfbf;
}
footer .footer__info .footer__contacts address {
	font-size: 15px;
	margin-left: 20px;
	font-style: normal;
  	font-weight: normal;
  	color: #666666;
}
footer .footer__info .footer__contacts .contacts__address { margin-bottom: 20px;}
footer .footer__info .footer__contacts .contacts__phone a {
	margin-left: 20px;
	font-size: 15px;
  	font-weight: normal;
  	color: #666666;
 }
footer .footer__info .footer__payments .payments__img img { padding: 0 4px;}

footer .footer__subtitle {
	min-height: 85px;
	background: #b3b3b3;
	padding: 30px 0;
}
footer .footer__subtitle .subtitle__text {
	font-size: 16px;
	font-weight: normal;
	color: #ffffff;
}
footer .footer__subtitle .subtitle__text span {
	margin-left: 20px;
}
footer .footer__subtitle .subtitle__link img.webspirit__img { width: 39px; }
footer .footer__subtitle .subtitle__link p {
	margin-left: 11px;
	font-size: 12px;
  	font-weight: normal;
  	color: #ffffff;
}
footer .footer__subtitle .subtitle__link p a {
	text-decoration: underline;
}
footer .footer__subtitle .subtitle__link img.genetka {
	margin-left: 30px;
}
#login-container input {
    background-color: #eee;
    padding: 12px 15px;
    margin: 8px 0;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: 0 solid #fff;
}


/*                   card sale              */
@media (max-width: 1410px) {
    
	section.sale .sale__wrrap .sale__card {
    	width: 220px;
		padding: 8px;
		min-height: auto;
	}
	section.sale .sale__wrrap .sale__card .card__img { height: 230px;}
	.card__rating .rating:not(:checked) > label { font-size: 22px; }
	section.sale .sale__wrrap .sale__card .card__text { font-size: 16px; }
	section.sale .sale__wrrap .sale__card .card__info .info__article p { font-size: 14px; }
	section.sale .sale__wrrap .sale__card .card__info .info__name p { font-size: 14px; }
	section.sale .sale__wrrap .sale__card .card__check .check__pieces p {font-size: 11px;}
	section.sale .sale__wrrap .sale__card .card__check .check__pieces .fa-check-circle { font-size: 18px; }
	section.sale .sale__wrrap .sale__card .check__number { width: 70px; }
	section.sale .sale__wrrap .sale__card .card__price .price__text { font-size: 34px; }
	section.sale .sale__wrrap .sale__card.no_availabilaty .card__price .price__text {font-size: 16px;}
	section.sale .sale__wrrap .sale__card .card__price button.cart__buy {
		width: 85px;
		height: 35px;
	}
	section.sale .sale__wrrap .sale__card .card__price button.cart__buy img { width: 23px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty button.cart__order {
		width: 85px;
		height: 35px;
	}
	section.sale .sale__wrrap .sale__card.no_availabilaty button.cart__order img { width: 23px;}
	section.sale .sale__wrrap .sale__card .card__price button.cart__buy:after {
		bottom: -11px;
		font-size: 10px;
	}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal {width: calc(100% + 4px); height: 465px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal h5 {font-size: 30px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .modal__phone a {font-size: 21px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal button.modal__request {
		width: 100%;
		height: 35px;
		font-size: 17px;
	}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form {width: 100%;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form input {width: 100%;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form .form__btn {
		width: 100%;
		font-size: 17px;
	}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form .form__product { margin-top: 15px;}
	


/*                   card sale             */
@media (max-width: 1300px) {
	header form select {
		width: 130px;
		margin-left: 5px;
		padding: 0px 5px;
		font-size: 14px;
	}
	header form input {
		width: 170px;
		padding: 0 8px;
		font-size: 14px;
	}
	header form .fa-chevron-down {
		left: 110px;
	}
	header .header__address .fa-map-marker-alt, header .header__phone .fa-phone-alt {
		font-size: 25px;
		margin-right: 5px;
	}
	header .header__address {
		font-size: 14px;
	}
	header nav a {
		font-size: 14px;
	}
	header nav a:before {
		width: 155px;
	}
	main section.sale .sale__nav a:before {
		min-width: 190px;
	}

}
@media screen and (max-width: 1025px) {
	header .header__address {display: none; }
	main section.cars__base .base__detal { width: 141px; }
	main section.cars__base .base__detal img { width: 90%; }
	footer .footer__info { padding-left: 15px; padding-right: 15px;}
	section.sale .sale__wrrap .sale__card { width:20%; }
	section.sale .sale__wrrap .sale__card .card__img { height: 200px; }
	.card__rating .rating:not(:checked) > label {font-size: 17px;}
	section.sale .sale__wrrap .sale__card .card__info .info__article { margin-right: 15px; }
	section.sale .sale__wrrap .sale__card .card__price .price__text {font-size: 25px;}
	section.sale .sale__wrrap .sale__card .card__price button.cart__buy {
		width: 70px;
		height: 30px;
	}
	section.sale .sale__wrrap .sale__card.no_availabilaty .card__price .price__text {font-size: 15px; }
	section.sale .sale__wrrap .sale__card.no_availabilaty button.cart__order {
		width: 70px;
		height: 30px;
		margin-top: 12px;
	}
	section.sale .sale__wrrap .sale__card .card__price button.cart__buy:hover:after,
	section.sale .sale__wrrap .sale__card.no_availabilaty button.cart__order:hover:after {display: none;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal h5 {font-size: 25px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal p { margin-top: 10px; }
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .modal__name {margin-top: 10px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .modal__product {margin-bottom: 10px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .modal__phone a {font-size: 17px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal span {font-size: 16px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal button.modal__request {font-size: 16px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal {height: 425px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form {padding: 5px 10px 31px 10px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form .form__product {margin-top: 10px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form input {margin-top: 10px;}


}
@media screen and (max-width: 769px) {
	header form select,
	header form .fa-chevron-down,
	header .header__shoping .header__user { display: none;}
	header nav a:before { width: 100%; }
	main h1 {
		font-size: 32px;
		letter-spacing: 1px;
	}
	main section.sale .sale__nav a:before { min-width: 135px; }
	main .main__logo a:nth-child(1) { margin-right: 25px; }
	main .main__logo a:nth-child(4) { margin-right: 20px; }
	section.sale .sale__wrrap .sale__card { width:25%; }
	section.sale .sale__wrrap .sale__card .card__img { height: 200px; }
	.card__rating .rating:not(:checked) > label {font-size: 17px;}
	section.sale .sale__wrrap .sale__card .card__info .info__article { margin-right: 15px; }
	section.sale .sale__wrrap .sale__card .card__price .price__text {font-size: 25px;}
	section.sale .sale__wrrap .sale__card .card__price button.cart__buy {
		width: 70px;
		height: 30px;
	}
	section.sale .sale__wrrap .sale__card.no_availabilaty .card__price .price__text {font-size: 14px; }
	section.sale .sale__wrrap .sale__card.no_availabilaty button.cart__order {
		width: 70px;
		height: 30px;
		margin-top: -3px;
	}
	section.sale .sale__wrrap .sale__card .card__price button.cart__buy:hover:after,
	section.sale .sale__wrrap .sale__card.no_availabilaty button.cart__order:hover:after {display: none;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal h5 {font-size: 25px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal p { margin-top: 10px; }
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .modal__name {margin-top: 10px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .modal__product {margin-bottom: 10px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .modal__phone a {font-size: 17px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal span {font-size: 16px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal button.modal__request {font-size: 16px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal {height: 425px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form {padding: 5px 10px 31px 10px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form .form__product {margin-top: 10px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty .cart__modal .cart__form input {margin-top: 10px;}
	footer .footer__info .footer__contacts address {margin-left: 7px;}
	footer .footer__info .footer__contacts .contacts__phone a { margin-left: 7px;}
	footer .footer__info div.w20 { width: 25%; }
	footer .footer__info .footer__account { display: none;}
	footer .footer__subtitle div.w50 {width: 100%;}
	footer .footer__subtitle .subtitle__text { text-align: center;}
	footer .footer__subtitle .subtitle__link { justify-content: center;}
}

@media screen and (max-width: 426px) {
	header  { padding: 0 0 30px 0;}
	header > div { flex-direction: column;}
	header .header__shoping { display: none;}
	header .nav__mobile {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	header img.header__logo {
		width: 230px;
		margin-right: 22px;
	}
	header .header__phone div {font-size: 13px;}
	header form button { top: 30px;}
	header .mobile__shoping a.header__cart {
		background-color: #fff;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	header .mobile__shoping {
		position: relative;
		display: flex;
			}
	header .mobile__shoping i.label {
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -19px;
		font-weight: 600;
		color: #fff;
		font-size: 12px;
		line-height: 1.2;
		font-style: normal;
		text-align: center;
		height: 15px;
		width: 30px;
		border-radius: 0 50px 50px 0;
		background-color: #82C166;
	}
	header .mobile__shoping .header__cart img { padding: 10px; }
	header div.flex .fa-bars { 
		display: block;
		width: 35px;
		height: 35px;
		font-size: 30px;
		float: left;
		color: #8c8c8c;
	}
	header .header__address .fa-map-marker-alt, header .header__phone .fa-phone-alt { display: none;}
	header nav.flex { display: none;}
	header form { width: 100%;}
	header form input { 
		width: 100%;
		margin-top: 10px;
		margin-left: 0;
	}
	header .header__phone { order: -1;}
	header .header__phone {
		width: calc(100% + 30px);
		padding: 5px 15px 5px 15px;
		margin: 0px;
		margin-bottom: 10px;
		background: #8c8c8c;
		}
	header .header__phone .header__login .header__user-in {
		background: transparent;
		border: none;
		font-size: 13px;
		font-weight: 600;
		text-align: left;
	}
	header .header__phone div {
		color: #F2F2F2;
		display: flex;
	}
	header .header__phone div a { margin-right: 15px;}
	header .header__phone .header__login {
		 display: flex;
		 flex-direction: column;
	}
	main section.sale .sale__nav { display: none;}
	section.sale .sale__wrrap .sale__card { width: 50%; }
	main .main__logo a img {height: 35px;}
	main h1 {
		font-size: 23px;
		letter-spacing: 1px;
	}
	main section.sale {padding: 30px 0 0 0;}
	main section.cars__base .base__detal {width: 95px;}
	main section.cars__base .base__detal .detal__text {font-size: 15px;}
	main .main__logo a:nth-child(1) {margin-right: 10px;}
	main .main__logo a:nth-child(4) {margin-right: 10px;}
	main .logo__text {font-size: 13px;}
	section.sale .sale__wrrap .sale__card.no_availabilaty button.cart__order { margin-top: 11px; }
	footer .footer__info .footer__shop,
	footer .footer__info .footer__information { display: none;}
	footer .footer__info .footer__contacts .contacts__address,
	footer .footer__info .footer__contacts .contacts__phone { justify-content: center;}
	footer .footer__info div.w20 {
		width: 100%;
	}
	footer .footer__info {padding: 10px 15px;}
	footer .footer__info h5 { 
		margin-top: 10px;
    	margin-bottom: 5px;
		text-align: center; 
	}
	footer .footer__info .footer__payments .payments__img { 
		text-align: center;
		margin-top: 10px;
	}
	footer .footer__subtitle .subtitle__link { display: none; }
	footer .footer__subtitle {
		min-height: 40px;
		padding: 10px 0;
	}
	header div.mob__menu {
		display: block;
    	position: fixed;
		z-index: 1002;
		margin-left: -15px;
    	top: 0;
    	width: 100vw;
    	background: rgba(0,0,0,.8);
	}
	header div.mob__menu .close__menu {
		transition: .54s;
    	width: 100%;
		height: 100vh;
		display: none;
    	position: fixed;
    	background: rgba(0,0,0,.8);
	}
	header div.mob__menu .close__menu .fa-times {
		position: absolute;
		right: 20px;
		top: 20px;
		font-size: 24px;
		color: #fff;
	}
	header div.mob__menu .mob__nav {
		transition: .54s;
		left: -281px;
		position: absolute;
		background: #3c3c3a;
		width: 280px;
		min-height: 100vh;
	}
	header div.mob__menu .mob__nav a {
		font-size: 16px;
    	padding: 8px 10px;
    	margin: -1px 15px;
    	color: #fff;
    	width: calc(100% - 30px);
   		display: block;
	}
	header div.mob__menu .mob__nav a img.mob__logo {
		width: calc(100% - 30px);
    	max-width: 200px;
		margin: 15px 0;
	}
	header div.mob__menu .mob__nav .mob__border {
		margin: 3px 0;
    	height: 1px;
    	background: #777;
    	width: 100%;
    	display: block;
	}
	header div.nav__mobile.default {
		position: fixed;
		top: 0;
		padding: 15px;
		background: #777;
		z-index: 11;
	}
}

@media screen and (max-width: 370px) {
	header .header__phone div {font-size: 12px;}
	header .header__phone .header__login .header__user-in {font-size: 12px;}
	header img.header__logo {
		width: 185px;
		margin-right: 20px;
	}
	header div.flex .fa-bars {
		width: 30px;
		height: 30px;
	}

	header .mobile__shoping .header__cart img {padding: 8px;}
	main h1 {
		font-size: 21px;
		letter-spacing: 0px;
	}
	main .main__logo a img {height: 30px;}
	main div.flex.w66.main__logo { align-items: flex-start;}
	main .logo__text { white-space: pre-wrap;}
	main section.cars__base .base__detal .detal__text {
		font-size: 13px;
		margin-bottom: 20px;
	}
	main #main__slick .slick-dots li {
		width: 13px;
		height: 13px;
	}
	section.sale .sale__wrrap .sale__card {width: 90%;}
	section.sale .sale__wrrap {
		margin-top: 15px;
		justify-content: center;
	}
	
}