@import url(fonts/miriadpro/font.css);

body {
	font-family: MyriadProRegular, Arial;
	background-color: #F2F2F2;
}

a {text-decoration: none;}


/*      Header        */
header {
	padding: 20px 0 40px 0;
}

header form {
	position: relative;
}
header form .fa-chevron-down {
	font-size: 22px;
	color: #888888;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
    left: 125px;
}
header form select {
	height: 45px;
	width: 150px;
	border-radius: 3px;
	border: 0;
	padding: 0 15px;
	font-size: 16px;
	color: #888888;
	outline: none;
	appearance: none;
	-webkit-appearance: none;
}

header form input {
	height: 45px;
    width: 250px;
    border-radius: 3px;
    border: 0;
    padding: 0 10px;
    margin-left: 5px;
    font-size: 16px;
    color: #888888;
}

header form button {
	position: absolute;
	top: 50%;
    background: transparent;
	right: 10px;
	border: none;
}

header form button i {
	font-size: 22px;
	color: #888888;
	top: 50%;
    transform: translateY(-50%); 
}

header .header__address {
	margin-left: -50px;
	font-size: 18px;
	color: #888888;
}

header .header__address address {font-style: normal;}
header .header__address .fa-map-marker-alt,
header .header__phone .fa-phone-alt {
	font-size: 25px;
    margin-right: 10px;
    color: #888888;
}

header .header__phone div {
	font-size: 18px;
	color: #888888;
}

header .header__shoping i.fa-shopping-cart {
	height: 50px;
	width: 50px;
	font-size: 25px;
	background-color: #fff;
	border-radius: 100%;
	color: #888888;
	display: flex;
    justify-content: center;
    align-items: center;
}
header .header__shoping { position: relative; }
header .header__shoping i.label {
	content: "";
	display: block;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -22px;
	text-align: center;
	height: 15px;
	width: 30px;
	border-radius: 0 50px 50px 0;
	background-color: #82C166;
}
header nav {
	margin-top: 30px;
}
header nav a {
	font-size: 18px;
	color: #888888;
	text-align: center;
}
header nav a:before {
	content: "";
	display: block;
	height: 4px;
	width: 230px;
	margin-bottom: 10px;
	background: #fff;
}

/*      Header       */