* {
	box-sizing: border-box;
	font-size: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
	outline: none;
}
.container {
	width: 90%;
	max-width: 1400px;
	margin: auto;
}
.d-block, .show { display: block }
.d-none, .hide { display: none }
.show1 { display: block !important }
.hide1 { display: none !important }
.d-inline { display: inline }
.d-iblock { display: inline-block }
.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.flex.column { flex-direction: column }
.flex.wrap { flex-wrap: wrap }
.flex.h-start { justify-content: flex-start }
.flex.h-center { justify-content: center }
.flex.h-evenly { justify-content: space-evenly }
.flex.h-end { justify-content: flex-end }
.flex.v-center { align-items: center }
.flex.v-start { align-items: flex-start }
.flex.v-end { align-items: flex-end }

.w-auto { width: auto }
.w100 { width: 100% }
.w80 { width: 80% }
.w75 { width: 75% }
.w70 { width: 70% }
.w66 { width: 66% }
.w60 { width: 60% }
.w50 { width: 50% }
.w40 { width: 40% }
.w33 { width: 33% }
.w30 { width: 30% }
.w25 { width: 25% }
.w20 { width: 20% }
.w80-5 { width: calc(80% - 5px) }
.w75-5 { width: calc(75% - 5px) }
.w70-5 { width: calc(70% - 5px) }
.w66-5 { width: calc(66% - 5px) }
.w60-5 { width: calc(60% - 5px) }
.w50-5 { width: calc(50% - 5px) }
.w40-5 { width: calc(40% - 5px) }
.w33-5 { width: calc(33% - 5px) }
.w25-5 { width: calc(25% - 5px) }
.w20-5 { width: calc(20% - 5px) }
.h100 { height: 100% }
.h100v { height: 100vh }

.m0	{ margin: 0 }
.p0	{ padding: 0 }

.border { border: 1px solid #000 }
.border.red { border-color: red }
.border.green { border-color: green }
.border.blue { border-color: green }
.border.yellow { border-color: yellow }

.text-center { text-align: center }
.text-right { text-align: right }
.pull-left { float: left; width: auto }
.pull-right { float: right; width: auto }
.clearfix { clear: both }
.relative { position: relative }

.alert { padding: 15px; margin-bottom: 15px; color: #fff }
.alert.alert-danger { background-color: #f52323 }
.alert.alert-warning { background-color: #f59c1a }
.alert.alert-success { background-color: #82c166 }
.alert .close { float: right; cursor: pointer }
.alert p { margin: 5px !important }

.btn { padding: 5px 15px; color: #fff; border: none; cursor: pointer }
.btn.btn-danger { background-color: #f52323 }
.btn.btn-danger:hover { background-color: #d41e1e }
.btn.btn-success { background-color: #82c166 }
.btn.btn-success:hover { background-color: #82c166 }
.btn.btn-warning { background-color: #f59c1a }
.btn.btn-warning:hover { background-color: #e29018 }

.hide { display: none }
.show { display: block }

html, body { font-size: 12px }
nav li { list-style: none }
table { border-collapse: collapse }
input:focus { outline: none }

@media screen and (max-width: 1025px) {
	.t100 { width: 100% }
	.t-hide { display: none !important }
	.t-show {
		display: block !important;
	}
	.container {
		width: 100%;
		padding: 0 10px;
	}
}
@media screen and (max-width: 576px) {
	.m-p0 { padding: 0 !important }
	.m-m0 { margin: 0 !important }

	.m100 { width: 100% !important }
	.m-w40 { width: 40% !important }
	.m-w50 { width: 50% !important }
	.m-w60 { width: 60% !important }
	.m-hide { display: none !important }
	.m-block { display: block !important }
	.m-inline { display: inline !important }
	.m-inlineBlock { display: inline-block !important }
	.m-flex {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex !important;
		justify-content: space-between;
	}
	.m-flex.column, .flex.m-column { flex-direction: column }
	.m-flex.column-reverse, .flex.m-column-reverse { flex-direction: column-reverse }
	.m-flex.wrap, .flex.m-wrap { flex-wrap: wrap }
	.m-flex.wrap, .flex.m-nowrap { flex-wrap: nowrap }
	.m-flex.h-start, .flex.m-h-start { justify-content: flex-start }
	.m-flex.h-center, .flex.m-h-center { justify-content: center }
	.m-flex.h-evenly, .flex.m-h-evenly { justify-content: space-evenly }
	.m-flex.h-between, .flex.m-h-between { justify-content: space-between }
	.m-flex.h-end, .flex.m-h-end { justify-content: flex-end }
	.m-flex.v-center, .flex.m-v-center { align-items: center }
	.m-flex.v-start, .flex.m-v-start { align-items: flex-start }
	.m-flex.v-end, .flex.m-v-end { align-items: flex-end }
}