* {
	box-sizing: border-box;
	font-size: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
	/*height: auto;*/
}
.container {
	width: 90%;
	max-width: 1500px;
	margin: auto;
}
.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.flex.column { flex-direction: column }
.flex.wrap { flex-wrap: wrap }
.flex.h-start { justify-content: flex-start }
.flex.h-center { justify-content: center }
.flex.h-evenly { justify-content: space-evenly }
.flex.h-end { justify-content: flex-end }
.flex.v-center {align-items: center }
.flex.v-start { align-items: flex-start }
.flex.v-end { align-items: flex-end }

.w100 { width: 100% }
.w80 { width: 80% }
.w75 { width: 75% }
.w70 { width: 70% }
.w66 { width: 66% }
.w50 { width: 50% }
.w33 { width: 33% }
.w30 { width: 30% }
.w25 { width: 25% }
.w20 { width: 20% }
.w80-5 { width: calc(80% - 5px) }
.w75-5 { width: calc(75% - 5px) }
.w70-5 { width: calc(70% - 5px) }
.w66-5 { width: calc(66% - 5px) }
.w50-5 { width: calc(50% - 5px) }
.w33-5 { width: calc(33% - 5px) }
.w25-5 { width: calc(25% - 5px) }
.w20-5 { width: calc(20% - 5px) }
.h100 { height: 100% }
.h100v { height: 100vh }

.border { border: 1px solid #000 }
.border.red { border-color: red }
.border.green { border-color: green }
.border.blue { border-color: green }
.border.yellow { border-color: yellow }

.text-center { text-align: center }
.text-right { text-align: right }
.pull-left { float: left; width: auto }
.pull-right { float: right; width: auto }
.clearfix { clear: both }
.relative { position: relative }

.alert { padding: 15px; color: #fff }
.alert-danger { background-color: #f52323 }
.alert-success { background-color: #00ad00; color: #fff }
.alert .close { float: right }
.alert p { margin: 5px !important }

.hide { display: none }
.show { display: block }

html, body { font-size: 12px }
nav li { list-style: none }
table { border-collapse: collapse }
input:focus { outline: none }

@media screen and (max-width: 1025px) {
	.t100 { width: 100% }
	.container {
		width: 100%;
		padding: 0 15px;
	}
}
@media screen and (max-width: 576px) {
	.m100 { width: 100% }
	.hideMobile { display: none !important }
}