* { box-sizing: border-box;}
#cart { margin-top: 20px }
.right { float: right;}
#cart .w75 {width: 75%;}
#cart .w25 {width: 24%;}
#cart .w70 {width: 69%;}
#cart .w30 {width: 30%;}
#cart h1 {
	text-align: left;
	margin-top: 0;
	text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
}
#cart h4 { font-size: 20px; margin-bottom: 10px; font-weight: normal }

#cart .w30 input, #cart textarea, #cart select {
    height: auto;
    width: 100%;
	background: #eee !important;
	border: none !important;
	border-radius: 2px;
	padding: 10px;
	margin-bottom: 5px;
}
#cart input:-internal-autofill-selected { background: #eee }
#cart form p { margin: 5px 0 }
#cart form a { display: block; width: auto }
#cart .facebook p { text-align: center; margin: 5px 0 }
#cart .facebook button {
	color: #fff;
	background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
    width: 100%;
    padding: 10px;
}
#cart .facebook button:hover { background-image: linear-gradient(#3b5998, #4e69a2 50%) }

#cart p.price {
	background: #29ABE2;
	color: #fff;
	border-radius: 2px;
	padding: 15px 10px 30px;
	margin-bottom: 3px
}
#cart .price-box { margin-top: 54px }
#cart p.price strong { font-size: 25px }
#cart p.discount {
	background: #6D6D6D;
	color: #fff;
	border-radius: 2px;
	margin-top: 0;
	padding: 5px 10px 12px;
	margin-bottom: 5px
}
#cart p.discount strong { font-size: 20px }
#cart .checkout {
	box-sizing: border-box;
	display: block;
	background: #eee;
	color: #fff;
	width: 100%;
	text-align: center;
	padding: 20px;
	margin-top: 10px;
	border-radius: 2px;
	cursor: default;
	font-size: 20px;
	text-decoration: none
}
#cart .checkout.active { cursor: pointer; background: #74C186 }
#cart .checkout.active:hover { background: #4d945d }

table.__cart_products_list { border-collapse: collapse; width: 100% }
table.__cart_products_list > thead * { color: #fff; padding: 2px 5px }
table.__cart_products_list > thead th {
	background: #989898;
	border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 18px;
	text-align: right
}
table.__cart_products_list > thead td {
	background: #B9B9B9;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
	text-align: left
}
table.__cart_products_list > tbody tr.disabled { background: #ffe4c4 }
table.__cart_products_list > tbody td:first-child { width: 50px; vertical-align: top; padding-top: 5px }
table.__cart_products_list > tbody td:first-child div {
	background: #F6F6F6;
	padding: 5px;
	width: 100%;
	border-radius: 2px;
	font-size: 16px;
	text-align: right
}
table.__cart_products_list > tbody td:nth-child(2) { width: 180px; padding: 0 10px }
table.__cart_products_list > tbody td:nth-child(2) a {
	display: block;
	width: auto;
	overflow: hidden;
	border-radius: 2px;
	margin-top: 5px;
}
table.__cart_products_list .name_action {
	background: #F6F6F6;
	border-radius: 2px;
	color: #292929;
	margin-top: 4px;
	padding: 5px 10px
}
table.__cart_products_list .name_action p {
	font-size: 16px;
	margin: 0
}
table.__cart_products_list .name_action a {
	text-decoration: underline;
	font-size: 16px
}
table.__cart_products_list .name_action .delete {
	border-radius: 2px;
	background: #E22929;
	color: #fff;
    height: 25px;
    width: 30px;
    margin-top: -4px;
	margin-right: -5px;
	border: none;
}
table.__cart_products_list .name_action .delete:hover { background: #E40000 }
table.__cart_products_list .name_action .product-active {
	border-radius: 2px;
    background: #FCAA3F;
    color: #fff;
    height: 25px;
    width: 100px;
    margin-top: -4px;
    margin-right: 10px;
    cursor: pointer;
}
table.__cart_products_list .name_action .product-active input { display: none }
table.__cart_products_list .name_action .product-active span { padding-left: 5px }
table.__cart_products_list .name_action .product-active:hover { background: #FB9006 }
table.__cart_products_list p.article {margin: 2px 0 0 0; padding-left: 5px; font-size: 12px }
table.__cart_products_list p.article strong { font-size: 12px }
table.__cart_products_list .name_action ~ table { border-spacing: 5px; width: 100% }
table.__cart_products_list .name_action ~ table tr td {
	color: #AFAFAF;
	border-top: 1px solid #F6F6F6;
	border-bottom: 1px solid #F6F6F6;
	text-align: center;
    font-size: 12px;
    padding: 2px 0;
    vertical-align: middle;
}
table.__cart_products_list .name_action table {
    color: #AFAFAF;
    border-top: 1px solid #F6F6F6;
    border-bottom: 1px solid #F6F6F6;
    text-align: center;
    font-size: 12px;
    padding: 2px 0;
    vertical-align: middle;
}
table.__cart_products_list tr.disabled .name_action ~ table thead tr td { color: #000 }
table.__cart_products_list .name_action ~ table thead tr td:first-of-type,
table.__cart_products_list .name_action ~ table thead tr td:nth-of-type(2) { width: 70px }
table.__cart_products_list .name_action ~ table thead tr td:nth-of-type(3),
table.__cart_products_list .name_action ~ table thead tr td:nth-of-type(4),
table.__cart_products_list .name_action ~ table tbody tr td:nth-of-type(1),
table.__cart_products_list .name_action ~ table thead tr td:nth-of-type(5),
table.__cart_products_list .name_action ~ table thead tr td:nth-of-type(6) { width: 80px }
table.__cart_products_list .name_action ~ table tbody tr * {
	background: #F6F6F6;
	border-radius: 2px;
	padding: 2px 5px
}
table.__cart_products_list .name_action ~ table tbody tr th:first-of-type,
table.__cart_products_list .name_action ~ table tbody tr th:nth-of-type(2) {
	width: 70px;
	background: #E6E5E5;
	color: #292929;
	text-align: center
}

table.__cart_products_list .name_action ~ table.simple_product th,
table.__cart_products_list .name_action ~ table.simple_product td { width: 25% !important }
table.__cart_products_list .name_action ~ table tbody tr td.amount,
table.__cart_products_list .name_action ~ table tbody tr td.amount div { background: none; padding: 0; border: none }
table.__cart_products_list .name_action ~ table tbody tr input {
	text-align: center;
	border: none;
	background: #29ABE2;
    border-radius: unset;
	color: #fff;
	width: calc(100% - 40px);
	padding: 2px 5px
}
table.__cart_products_list .name_action ~ table tbody tr input::placeholder { color: #fff }
table.__cart_products_list .name_action ~ table tbody tr td.amount button {
	background: none;
	width: 20px;
	color: #29ABE2;
    border-radius: unset;
    text-align: center;
	padding: 0
}
table.__cart_products_list  .name_action ~ table tbody tr td.amount button:first-child {
	background: #F6F6F6;
    border: none;
    border-radius: 50px 0px 0px 50px;
	padding-left: 4px;
	outline: none;
}
table.__cart_products_list  .name_action ~ table tbody tr td.amount button:last-child {
	background: #F6F6F6;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background-position-x: right;
    padding-right: 4px;
	outline: none;
}
table.__cart_products_list  .name_action ~ table tbody tr td.amount button:first-child:hover,
table.__cart_products_list  .name_action ~ table tbody tr td.amount button:last-child:hover {
	background: #989898;
}
table.__cart_products_list  .name_action ~ table tbody tr td.amount button:first-child:hover {
	color: #fff;
}
table.__cart_products_list  .name_action ~ table tbody tr td.amount button:last-child:hover {
	color: #fff;
}
table.__cart_products_list .amount button i { font-size: 10px }
table.__cart_products_list .amount button.plus i { margin-left: -4px }


#cart-product-delete h5 { font-weight: 400; font-size: 18px; font-weight: bold }
#cart-product-delete .product-options { margin: 5px 0 }
#cart-product-delete p.product-price + p { margin-top: 30px }
#cart-product-delete .actions { margin-top: 20px; color: #fff }
#cart-product-delete .actions .close { background: #74C186 }
#cart-product-delete .actions .close:hover { background: #4d945d }
#cart-product-delete .actions .postpone { background: #FCAA3F }
#cart-product-delete .actions .postpone:hover { background: #FB9006 }
#cart-product-delete .actions .delete { background: #E22929 }
#cart-product-delete .actions .delete:hover { background: #E40000 }



/*                           24.04.2020                */


@media screen and (min-width: 1500px) {
	table.__cart_products_list .name_action ~ table thead tr td:nth-of-type(3),
	table.__cart_products_list .name_action ~ table thead tr td:nth-of-type(4),
	table.__cart_products_list .name_action ~ table tbody tr td:nth-of-type(1),
	table.__cart_products_list .name_action ~ table thead tr td:nth-of-type(5),
	table.__cart_products_list .name_action ~ table thead tr td:nth-of-type(6) { width: 120px }
	table.__cart_products_list .name_action ~ table tbody tr td.amount button { width: 25px }
	table.__cart_products_list .name_action ~ table tbody tr input { width: calc(100% - 50px) }
}

@media(max-width: 1100px){
	#nova-poshta-warehouse .info .w33, #nova-poshta-warehouse .info .w33 strong { font-size: 11px; letter-spacing: -0.5px }
	#cart-product-delete {
	    height: 300px;
	    width: 90%;
	    left: 5%;
	    top: calc(50% - 150px);
	}
	#cart-product-delete img{
		width: 60%;
		margin-left: 20%
	}
}
@media(max-width: 1023px){
	#cart-product-delete {
	    height: 96%;
	    width: 96%;
	    left: 2%;
	    top: 2%;
	}
	#cart-product-delete img{
		width: 50%;
		margin-left: 25%
	}
}