@font-face {
    font-family: 'MyriadProRegular';
    src: url('myriadpro-regular.eot');
    src: url('myriadpro-regular.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-regular.woff') format('woff'),
         url('myriadpro-regular.ttf') format('truetype'),
         url('myriadpro-regular.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProCondensed';
    src: url('myriadpro-cond-webfont.eot');
    src: url('myriadpro-cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-cond-webfont.woff') format('woff'),
         url('myriadpro-cond-webfont.ttf') format('truetype'),
         url('myriadpro-cond-webfont.svg#MyriadProCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProBold';
    src: url('myriadpro-bold-webfont.eot');
    src: url('myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-bold-webfont.woff') format('woff'),
         url('myriadpro-bold-webfont.ttf') format('truetype'),
         url('myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
    font-weight: normal;
    font-style: normal;

}